footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  box-sizing: border-box;
  width: min(calc(100% - 2 * var(--spacing-gutter)), var(--container-site));
  max-width: var(--container-site);
  margin-inline: auto;
  padding: 40px 0 24px;
}

footer .footer p {
  margin: 0;
}

